.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 34px;
    cursor: pointer;
}

.toggle-switch-on {
    background-color: #2196F3;
}

.toggle-switch-off {
    background-color: #ccc;
}

.toggle-indicator-on {
    position: absolute;
    top: 2.5px;
    right: 2.5px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: slide-on 0.1s linear;
            animation: slide-on 0.1s linear;
}

@-webkit-keyframes slide-on {
    0% { right: 20.5px; }
    100% { right: 2.5px; }
}

@keyframes slide-on {
    0% { right: 20.5px; }
    100% { right: 2.5px; }
}

.toggle-indicator-off {
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: slide-off 0.1s linear;
            animation: slide-off 0.1s linear;
}

@-webkit-keyframes slide-off {
    0% { left: 20.5px; }
    100% { left: 2.5px; }
}

@keyframes slide-off {
    0% { left: 20.5px; }
    100% { left: 2.5px; }
}