.search-list-component {
    width: 90%;
    height: 85%;
    margin-top: 2rem;
    /*margin-bottom: 4rem;*/
    padding-left: 2rem;
    padding-right: 4rem;
    color: black;
    overflow-y: auto;
}

.search-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: #ccc solid 1px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.search-list-item-filter-icon,
.search-list-item-filter-selected {
    margin-left: 4rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s;
}

.search-list-item-filter-icon {
    color: #ccc;
}

.search-list-item-filter-selected {
    color: #2196F3;
}

.show-more-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}

.show-more-items:hover {
    background-color: black;
    color: white
}