.map-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.loader-div {
  position: absolute;
  height: 99%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  color: black;
  letter-spacing: 0.2rem;
  font-weight: 700;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: white solid 2px;
  border-radius: 7px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 98;
}

.request-popup .leaflet-popup-content-wrapper {
  width: 20rem;
  background-color: rgb(249,226,195);
  border: black solid 2px;
  border-radius: 5px;
  font: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-popup-content {
  margin: 1rem;
  padding: 0;
  width: 18rem;
}

.location-sport {
  margin-top: 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.matches-list {
  width: 200px;
  width: 100%;
  font: inherit;
}

.level-card {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgb(245, 215, 177);
}

.level-card-title {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.level-card-matches {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.level-card-matches-home {
  flex: 2;
  text-align: left;
}

.level-card-matches-score {
  flex: 1;
  text-align: center;
}

.level-card-matches-away {
  flex: 2;
  text-align: right;
}

.matches-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.go-to-details {
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  transition: all 0.5s;
}

.go-to-details:hover {
  background-color: black;
  color: white;
}

.map-container .icon-component--definition {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

.custom-marker {
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
}

.custom-marker-div {
  background-color: rgba(246, 245, 243, 0.9);
  border-radius: 50% 50% 50% 0;
  border: solid 0.5px rgb(53, 91, 124);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -webkit-animation: ease-in 0.5s appear;
          animation: ease-in 0.5s appear;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.football-marker {
  color: #c00;
}

.futsal-marker {
  color: rgb(42, 129, 203);
}

.basketball-marker {
  color: rgb(255, 94, 0);
}

.volleyball-marker {
  color: rgb(233, 154, 6);
}

.handball-marker {
  color: rgb(211, 101, 134);
}