.matchlist-component {
    width: 95%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.matchlist-component--header {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(var(--main-color-2), 0.5);
    border-radius: 7px;
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.matchlist-component--header-name {
    display: flex;
    flex-direction: row;
}

.matchlist-component--header-count {
    width: 4rem;
    align-self: flex-start;
}

.matchlist-component--details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchlist-component--match-details {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.matchlist-component--match-details:nth-of-type(even) {
    background-color: rgba(var(--main-color-2), 0.3);
}

.matchlist-component--match-details--whenwhere {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.matchlist-component--match-details-date,
.matchlist-component--match-details-time{
    margin-right: 3rem;
}

.matchlist-component--match-details--who {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0.5rem;
}

.matchlist-component--match-details-date > :first-child,
.matchlist-component--match-details-time > :first-child,
.matchlist-component--match-details-venue > :first-child,
.matchlist-component--match-details-level > :first-child {
    margin-right: 1rem;
}

.matchlist-component--match-details-team-info {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    width: 95%;
    padding-top: 1rem;
}


.matchlist-component--match-details-home,
.matchlist-component--match-details-away {
    width: 40%;
    font-weight: 600;
}

.matchlist-component--match-details-score {
    width: 20%;
    text-align: center;
    font-weight: 600;
}

.matchlist-component--match-details-away {
    text-align: right;
}

.matchlist-component--match-preview {
    width: 100%;
}

.matchlist-component--match-preview-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 7px;
    border: rgba(0, 0, 0, 0.1) dashed 2px;
}

.matchlist-component--match-preview-content {
    width: 100%;
}

.show-more-matches {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.show-more-matches:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 400px) {
    .matchlist-component {
        font-size: 1.2rem;
    }
  }