.menu-item-component {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu-item,
.menu-item-selected {
    width: 80%;
    max-width: 350px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px;
    border-color: white;
    letter-spacing: 0.2rem;
    transition: all 0.3s;
}

.menu-item-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menu-item:hover,
.menu-item-selected {
    background-color: black;
    color: white;
    border-color: solid black;
}

.menu-item-definition {
    margin-left: 20%;
}

.menu-item-content-indicator {
    position: relative;
}

.menu-item-content {
    width: 95%;
    background-color: white;
}