.top-menu-component {
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-menu-box {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-menu-left {
    flex: 1;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.top-menu-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-menu-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-items-btn,
.menu-items-btn-active {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transition: all 0.5s;
    cursor: pointer;
}

.menu-items-btn:hover,
.menu-items-btn-active {
    background-color: white;
    color: black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.menu-items,
.menu-items-on-close {
    background-color: #f6f5f3;
    position: fixed;
    top: 60px;
    right: 0;
    width: 99%;
    max-width: 500px;
    /*max-height: 80%;*/
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*overflow-y: scroll;*/
    color: black;
    border: solid 1px black;
}

.menu-items {
    -webkit-animation: slide-from-right 0.5s linear;
            animation: slide-from-right 0.5s linear;
}

@-webkit-keyframes slide-from-right {
    0% { right: -500px }
    100% { right: 0; }
}

@keyframes slide-from-right {
    0% { right: -500px }
    100% { right: 0; }
}

.menu-items-on-close {
    -webkit-animation: slide-to-right 0.5s;
            animation: slide-to-right 0.5s;
}

@-webkit-keyframes slide-to-right {
    0% { right: 0; }
    100% { right: -500px; }
}

@keyframes slide-to-right {
    0% { right: 0; }
    100% { right: -500px; }
}

.menu-items-content {
    width: 100%;
    max-height: 85%;
    overflow-y: scroll;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.menu-items-filter-group {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.item-container {
    position: fixed;
    left: 0;
    top: 60px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-box,
.item-box-on-close {
    width: 50%;
    min-width: 300px;
    max-height: calc(100vh*0.8);
    background-color: #f6f5f3;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-y: auto;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-box {
    -webkit-animation: show-item-box 0.5s linear;
            animation: show-item-box 0.5s linear;
}

@-webkit-keyframes show-item-box {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes show-item-box {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.item-box-on-close {
    -webkit-animation: hide-item-box 0.5s linear;
            animation: hide-item-box 0.5s linear;
}

@-webkit-keyframes hide-item-box {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes hide-item-box {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.item-close {
    color: rgba(0, 0, 0, 0.6);
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 1%;
}

.search-instructions {
    text-align: center;
    color: black;
}

.no-items {
    text-align: center;
    color: black;
    padding: 1rem;
}