.filter-group-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.filter-group-items {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.filter-group-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: rgb(223, 221, 221) solid 1px;
}

.filter-group-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-group-item-header .list-item-component {
    flex: 1;
}

.filter-group-item-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filter-group-item-remove {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    color: #ccc;
    cursor: pointer;
}

.filter-group-item-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-group-items-notification {
    margin-top: 1rem;
    text-align: center;
}

.filter-group-item .toggle-switch {
    margin-left: 2rem;
}
