.loading-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 3rem;
}

.loader {
    border: 3px solid rgba(var(--main-color-2), 0.1);
    /*border-top:3px solid rgba(var(--main-color-2), 0.6);*/
    border-radius: 7px;
    min-width: fit-content;
    min-height: fit-content;
    animation: spin 3s linear infinite;
    padding: 2rem;
}
  
@keyframes spin {
    0% {
        border: 3px solid rgba(var(--main-color-2), 0.1);
        border-top:3px solid rgba(var(--main-color-2), 0.6);
    }
    33% {
        border: 3px solid rgba(var(--main-color-2), 0.1);
        border-right:3px solid rgba(var(--main-color-2), 0.6);
    }
    66% { 
        border: 3px solid rgba(var(--main-color-2), 0.1);
        border-bottom:3px solid rgba(var(--main-color-2), 0.6);
    }
    100% { 
        border: 3px solid rgba(var(--main-color-2), 0.1);
        border-left:3px solid rgba(var(--main-color-2), 0.6);
    }
}