.matchlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.matchlist-container--grouping {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.matchlist-container--grouping label {
    display: block;
}

.matchlist-container--grouping select {
    background-color: white;
    padding: 0.4rem;
    border-radius: 7px;
}