.navi-container {
    position: fixed;
    left: 10vw;
    top: 0;
    bottom: auto;
    right: auto;
    margin-top: 1rem;
    width: 80vw;
    height: 7rem;
    z-index: 100;
    color: black;
}

@media only screen and (max-width: 600px) {
  .navi-container {
    width: 95vw;
    left: 2.5vw;
  }
}

.navi-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navi-container ul {
    background-color: rgb(var(--main-color-1));
    border: rgba(var(--main-color-2), 0.3) dashed 2px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    border-radius: 5px;
}

.navi-container li {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navi-item,
.navi-item-selected,
.navi-item-disabled {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  height: 100%;
  width: 10rem;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
}

@media only screen and (max-width: 600px) {
  .navi-item,
  .navi-item-selected,
  .navi-item-disabled {
    width: 5rem;
    letter-spacing: 0;
  }
}

.navi-definition {
  font-size: 1rem;
  padding-top: 0.2rem;
}

.navi-item-selected,
.navi-item:hover {
  background-color: rgba(var(--main-color-2), 0.2);
  border-radius: 7px;
}

.navi-item:hover {
  cursor: pointer;
}

.navi-item-disabled {
  opacity: 0.3;
}