.search-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.search-container--results {
    height: 10rem;
}

.search-container--menu {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    height: 7rem;
}

.search-container--menu-item,
.search-container--menu-item-selected {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .search-container--menu-item,
    .search-container--menu-item-selected {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
  
.search-container--menu-item {
    cursor: pointer;
    border-bottom: transparent solid 2px;
}

.search-container--menu-item:hover,
.search-container--menu-item-selected {
    background-color: rgba(var(--main-color-2), 0.1);
    border-radius: 7px 7px 0 0;
}

.search-container--item-group:not(:first-child) {
    padding-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(var(--main-color-2), 0.1);
    border-radius: 7px;
    overflow: auto;
}

.search-container--menu-item-count {
    width: 0;
    height: 0;
}

.error-info {
    background-color: rgba(255, 0, 0, 0.6);
    margin-top: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2rem;
    text-align: center;
    border-radius: 7px;
}