.list-item-component {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--main-color-1));
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 7px;
}

.list-item-component--header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.list-item-component--options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

.list-item-component--options-group > * {
    margin-right: 1rem;
}

.list-item-component--options .icon-component {
    cursor: pointer;
}

.list-item-component--options .icon-component--definition {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

@media only screen and (max-width: 600px) {
    .list-item-component--options .icon-component--definition {
        letter-spacing: 0;
    }
    .list-item-component--options-group > * {
        margin-right: 0.5rem;
    }
}

.list-item-component--options-group {
    display: flex;
    flex-direction: row;
}

.list-item-component--options-selected {
    color: rgb(var(--main-color-2));
}