.search-input-component {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-input-component form {
    width: 70%;
}

.search-input-component input {
    width: 100%;
    padding: 1rem;
    background-color: inherit;
    border-radius: 15px;
    border: rgba(var(--main-color-2), 0.4) solid 2px;
    font-family: inherit;
}